# site-header 
{
background-color: gray; 


	border: 5px gray solid; 
	
 }
article>header {

	border: 5px red solid; }


article, body {
	margin: 20px;
	padding:20px; 

}

h1 {
	font-family: Helvetica 

}